.main-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
}

.text-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 100px;
}

.header-text
{
    font-family: 'Montserrat-Bold', 'Arial';
    font-size: 30px;
    text-align: center;
}

.info-text
{
    font-family: 'Montserrat-Medium', 'Arial';
    font-size: 20px;
    text-align: center;
}

.bio-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 500px;
    width: 50%;
}

.avatar
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 200px;
    border: 3px solid white;
    margin: 10px 0 10px 0;
    width: 200px;
    border-radius: 20px;
}

.personal-user-info
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 450px;
    border: 3px solid white;
    margin: 10px 0 10px 0;
    width: 500px;
    border-radius: 20px;
}

.avatar img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.personal-user-text
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.text-info
{
    margin: 10px 20px 0 20px;
    font-family: 'Montserrat-Medium', 'Arial';
    font-size: 20px;
    min-width: 100px;
}

.text-info-error
{
    margin: 0 20px 0 20px;
    font-family: 'Montserrat-Regular', 'Arial';
    font-size: 15px;
    color: red;
}

.user-buttons
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    width: 200px;
    margin-bottom: 10px;
}

.favourites-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 75px;
}

.top-text
{
    color: white;
    font-family: 'Montserrat-Bold', 'Arial';
    font-size: 30px;
    margin-top: 10px;
}

.top-text-error
{
    color: white;
    font-family: 'Montserrat-Bold', 'Arial';
    font-size: 20px;
    margin-top: 10px;
}

.comments-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.comment-container
{
    align-items: center;
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    min-height: 100px;
    border: 3px solid white;
    border-radius: 20px;
    color: white;
}

.comment-film-name
{
    margin: 10px 0 0 0;
    font-family: 'Montserrat-Bold', 'Arial';
    font-size: 23px;
    text-align: center;
}

.comment-film-rating
{
    margin: 10px 50px 10px 50px;
    font-family: 'Montserrat-Medium', 'Arial';
    font-size: 18px;
}

.comment-film-comment
{
    margin: 10px 50px 10px 50px;
    font-family: 'Montserrat-Medium', 'Arial';
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
}

.comment-buttons
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}