.header-container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    width: 100%;
    position: relative;
}

.website-navigation 
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    height: 100px;
    background-color: rgb(31, 34, 44);
}

.logo
{
    font-family: 'Montserrat-Bold', Arial;
    font-size: 30px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, rgb(100,123,252), rgb(245,0,97));
}

.text-links
{
    font-family: 'Montserrat-Medium', Arial;
    font-size: 20px;
    color: white;
}

.search-authorization
{
    width: 150px;
    display: flex;
}

.search-authorization > div
{
    margin-left: 20px;
}

.search, .authorization, .logout, .acc
{
    display: block;
    width: 30px;
    height: 30px;
    background-size: cover;
}

.search
{
    background-image: url(../images/main_window/search.png);
}

.authorization
{
    background-image: url(../images/main_window/acc.png);
}

.logout
{
    background-image: url(../images/main_window/exit.png);
}

.acc
{
    background-image: url(../images/main_window/acc_auth.png);
}


a:not(.logo-button):hover
{
    transition: .4s;
    color: rgb(245,0,97);
}

.search:hover
{
    background-image: url(../images/main_window/search_hovered.png);
}

.authorization:hover
{
    background-image: url(../images/main_window/acc_hovered.png);
}

.logout:hover
{
    background-image: url(../images/main_window/exit_hovered.png);
}

.acc:hover
{
    background-image: url(../images/main_window/acc_auth_hovered.png);
}