body
{
    background-color: rgb(23, 25, 32);
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
    color: inherit;
    background: none;
    transition: .4s;
}

.main-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
}

.text-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 100px;
}

.header-text
{
    font-family: 'Montserrat-Bold', 'Arial';
    font-size: 30px;
    text-align: center;
}

.info-text
{
    font-family: 'Montserrat-Medium', 'Arial';
    font-size: 20px;
    text-align: center;
}

.bio-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 500px;
    width: 50%;
}

.avatar
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 200px;
    border: 3px solid white;
    margin: 10px 0 10px 0;
    width: 200px;
    border-radius: 20px;
}

.personal-user-info
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 450px;
    border: 3px solid white;
    margin: 10px 0 10px 0;
    width: 500px;
    border-radius: 20px;
}

.avatar img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.personal-user-text
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.text-info
{
    margin: 10px 20px 0 20px;
    font-family: 'Montserrat-Medium', 'Arial';
    font-size: 20px;
    min-width: 100px;
}

.text-info-error
{
    margin: 0 20px 0 20px;
    font-family: 'Montserrat-Regular', 'Arial';
    font-size: 15px;
    color: red;
}

button
{
    height: 50px;
    width: 300px;
    border: 0;
    background: rgb(37, 70, 255);
    border-radius: 7px;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    transition: .4s;
}

button:hover
{
    transition: .4s;
    background: rgb(245,0,97);
}

.user-buttons
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    width: 200px;
    margin-bottom: 10px;
}

.favourites-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 75px;
}

.top-text
{
    color: white;
    font-family: 'Montserrat-Bold', 'Arial';
    font-size: 30px;
    margin-top: 10px;
}

.top-text-error
{
    color: white;
    font-family: 'Montserrat-Bold', 'Arial';
    font-size: 20px;
    margin-top: 10px;
}

.top-films-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 250px;
}

.top-film
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    border: 5px solid white;
    box-shadow: 0 0 20px rgb(89,8,255);
    border-color: rgb(89,8,255);
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.top-film:hover
{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgb(245,0,97);
    border-color: rgb(245,0,97);
}

.top-film-image
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;
    opacity: 1;
}

.top-film:hover .top-film-image
{
    opacity: 0;
}

.text-description
{
    position: absolute;
    color: white;
    opacity: 0;
}

.text-description-title
{
    font-family: 'Montserrat-Bold', 'Arial';
    font-size: 20px;
    margin: 10px;
}

.text-description-genre
{
    font-family: 'Montserrat-Regular', 'Arial';
    font-size: 15px;
    margin: 10px;
}

.top-film:hover .text-description
{
    opacity: 1;
}

.comments-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.comment-container
{
    align-items: center;
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    min-height: 100px;
    border: 3px solid white;
    border-radius: 20px;
    color: white;
}

.comment-film-name
{
    margin: 10px 0 0 0;
    font-family: 'Montserrat-Bold', 'Arial';
    font-size: 23px;
    text-align: center;
}

.comment-film-rating
{
    margin: 10px 50px 10px 50px;
    font-family: 'Montserrat-Medium', 'Arial';
    font-size: 18px;
}

.comment-film-comment
{
    margin: 10px 50px 10px 50px;
    font-family: 'Montserrat-Medium', 'Arial';
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
}

.comment-buttons
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}