body
{
    background-color: rgb(23, 25, 32);
    margin: 0;
    padding: 0;
}

a 
{
    text-decoration: none;
    color: inherit;
    background: none;
    transition: .4s;
}

.main-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.header-container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    width: 100%;
    position: relative;
}

.slider 
{
    margin-top: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
}

input[name="r"]
{
    position: absolute;
    visibility: hidden;
}

.slides
{
    width: 400%;
    height: 100%;
    display: flex;
}

.slide
{
    position: relative;
    width: 25%;
    transition: all .6s ease;
}

.slide img 
{
    width: 100%;
    height: 140%;
    object-fit: cover;
    object-position: 0 10%;
}

#r1:checked ~ .s1 
{
    margin-left: 0;
}

#r2:checked ~ .s1 
{
    margin-left: -25%;
}

#r3:checked ~ .s1 
{
    margin-left: -50%;
}

#r4:checked ~ .s1 
{
    margin-left: -75%;
}

.website-navigation 
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    height: 100px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.75));
    backdrop-filter: blur(3px);
}

.logo
{
    font-family: 'Montserrat-Bold', Arial;
    font-size: 30px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, rgb(100,123,252), rgb(245,0,97));
}

.text-links
{
    font-family: 'Montserrat-Medium', Arial;
    font-size: 20px;
    color: white;
}

.search-authorization
{
    width: 150px;
    display: flex;
}

.search-authorization > div
{
    margin-left: 20px;
}

.search, .authorization, .logout, .acc
{
    display: block;
    width: 30px;
    height: 30px;
    background-size: cover;
}

.search
{
    background-image: url(../images/main_window/search.png);
}

.authorization
{
    background-image: url(../images/main_window/acc.png);
}

.logout
{
    background-image: url(../images/main_window/exit.png);
}

.acc
{
    background-image: url(../images/main_window/acc_auth.png);
}


a:not(.logo-button):hover
{
    transition: .4s;
    color: rgb(245,0,97);
}

.search:hover
{
    background-image: url(../images/main_window/search_hovered.png);
}

.authorization:hover
{
    background-image: url(../images/main_window/acc_hovered.png);
}

.logout:hover
{
    background-image: url(../images/main_window/exit_hovered.png);
}

.acc:hover
{
    background-image: url(../images/main_window/acc_auth_hovered.png);
}

.info
{
    position: absolute;
    top: 410px;
    left: 10%;
    transform: translateX(-10%);
    text-align: center;
    color: white;
    text-transform: uppercase;
    width: 100%;
    text-shadow: #000000 0 0 20px;
    background-color: rgba(0, 0, 0, .5);
    justify-content: center;
    z-index: 2;
}

.film-title
{
    font-family: 'Montserrat-Bold';
    font-size: 50px;
}

.darker
{
    position: absolute;
    bottom: 0px;
    height: 200px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(23, 25, 32, 0), rgba(23, 25, 32, 1));
    text-align: center;
    color: rgba(255,255,255,0);
    z-index: 1;
}

.content-container
{
    display: flex;
    flex-direction: column;
    min-height: 1100px;
    width: 100%;
}

.card
{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
    width: 1100px;
    height: 300px;
    padding: 5px;
    border-radius: 25px;
    border-width: 10px;
    margin-left: 70px;
    transition: .4s;
    border: 3px solid rgba(255, 255, 255, .7);
}


.card:hover 
{
    transition: .4s;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(245, 0, 97, 0.8);
    border-color: rgb(245,0,97);
}

.card-image
{
    width: 300px;
    padding: 10px;
    object-fit: cover;
}

.card-image img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.card-description
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    width: 500px;
    color: white;
}

.header-text
{
    font-family: 'Montserrat-Bold', 'Arial';
    font-size: 24px;
    text-align: center;
}

.main-text
{
    margin-top: 10px;
    font-family: 'Montserrat-Regular', 'Arial';
    font-size: 17px;
    text-align: justify;
    line-height: 1.3;
}

.right
{
    margin-left: 330px;
}

.left-image
{
    margin-right: 10px;
}

.right-image
{
    margin-left: 10px;
}

.footer-container
{
    display: flex;
    flex-direction: column;
    min-height: 150px;
    width: 100%;
    background-color: rgb(31, 34, 44);
    align-items: center;
}

.create-line 
{
    width: 100%;
    border-top: 3px solid white;
}

.text-contact
{
    margin-top: 10px;
    color: white;
    font-family: 'Montserrat-Regular', 'Arial';
    font-size: 20px;
    text-align: center;
}

.socials
{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    width: 400px;
    justify-content: space-around;
}

.social
{
    border: 2px solid white;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.social img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social-inst, .social-vk, .social-whatsapp, .social-twitter
{
    transition: .4s;
}

.social-inst:hover
{
    background-color: rgb(214,41,118);
}

.social-vk:hover
{
    background-color: rgb(36,95,222);
}

.social-whatsapp:hover
{
    background-color: rgb(18,140,126);
}

.social-twitter:hover
{
    background-color: rgb(27,195,246);
}